<!DOCTYPE html>
<head>
    <title>Josh Kaler's Blog-site</title>
    <meta charset="utf-8" />
    <meta name="description" content="Josh's great and powerful marketting page" />
    <meta name="author" content="Tristan Hilbert">
    <meta name="keywords" content="Josh Kaler, physics, Bellevue College, student, coffee" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <!-- Javascript Includes -->
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js" defer></script>
    <script src="https://unpkg.com/react@16/umd/react.production.min.js" crossorigin defer></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js" crossorigin defer></script>

    <!-- Template JS Modules -->
    <script src="src/index.js" defer></script>
</head>
<body></body>