# Tristan Hilbert
# 6/14/2019
#
#
# Web development ignore file
# No binaries to ignore off the top of my head
#

# VSCode is my default editor
**/.vscode/**

# We don't want the build files to be in there
**/newTemplate/**

#Node Stuff
**/package-lock.json
**/node_modules/**
